Q1. List any five functions of the pandas library with execution.

In [25]:
# head()
import pandas as pd
data = {
    "name": ["Mohan", "Senha", "Ansu", "Depika", "Rahul"],
    "age": [17, 19, 18, 20, 21],
    "gender": ["M", "F", "M", "F", "M"]
}
df = pd.DataFrame(data)
print(df.head(3))

    name  age gender
0  Mohan   17      M
1  Senha   19      F
2   Ansu   18      M

In [24]:
# tail()
import pandas as pd
data = {
    "name": ["Mohan", "Senha", "Ansu", "Depika", "Rahul"],
    "age": [17, 19, 18, 20, 21],
    "gender": ["M", "F", "M", "F", "M"]
}
df = pd.DataFrame(data)
print(df.tail(2))

     name  age gender
3  Depika   20      F
4   Rahul   21      M

In [21]:
# describe()
import pandas as pd
data = {
    "name": ["Mohan", "Senha", "Ansu", "Depika", "Rahul"],
    "age": [17, 19, 18, 20, 21],
    "gender": ["M", "F", "M", "F", "M"],
    "height": [101, 120, 105, 107, 130],
    "weight": [38, 45, 39, 40, 42]
}
df = pd.DataFrame(data)
print(df[["age", "height", "weight"]].describe())

             age      height     weight
count   5.000000    5.000000   5.000000
mean   19.000000  112.600000  40.800000
std     1.581139   12.054045   2.774887
min    17.000000  101.000000  38.000000
25%    18.000000  105.000000  39.000000
50%    19.000000  107.000000  40.000000
75%    20.000000  120.000000  42.000000
max    21.000000  130.000000  45.000000

In [22]:
# groupby()
import pandas as pd

data = {
    'date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02', '2022-01-02'],
    'location': ['New York', 'Boston', 'New York', 'Boston', 'New York'],
    'item': ['apple', 'banana', 'apple', 'banana', 'banana'],
    'amount': [1.99, 0.99, 2.99, 1.49, 0.99]
}

df = pd.DataFrame(data)
grouped = df.groupby(['location', 'item'])
result = grouped.agg({'amount': 'sum'})
print(result)

                 amount
location item
Boston   banana    2.48
New York apple     4.98
         banana    0.99

In [36]:
# merge()
import pandas as pd

customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4],
    'name': ['Manisha', 'Sunil', 'Sumit', 'Disha'],
    'email': ['manisha@gmail.com', 'sunil@gmail.com', 'sumit@gmail.com', 'disha@gmail.com']
})

orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 105, 106],
    'customer_id': [1, 1, 2, 3, 3, 4],
    'product': ['Apple', 'Banana', 'Apple', 'Orange', 'Banana', 'Apple'],
    'quantity': [1, 2, 3, 2, 1, 3],
})
merged = pd.merge(customers, orders, on='customer_id')
print(merged)

   customer_id     name              email  order_id product  quantity
0            1  Manisha  manisha@gmail.com       101   Apple         1
1            1  Manisha  manisha@gmail.com       102  Banana         2
2            2    Sunil    sunil@gmail.com       103   Apple         3
3            3    Sumit    sumit@gmail.com       104  Orange         2
4            3    Sumit    sumit@gmail.com       105  Banana         1
5            4    Disha    disha@gmail.com       106   Apple         3

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [29]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})
def reindex_df(df):
    new_index = range(1, 2*len(df)+1, 2)  
    df.index = new_index  
    return df

reindexed_df = reindex_df(df)
print(reindexed_df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the'Values' column. The function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [2]:
import pandas as pd

def sum_first_three_values(df):
    values_sum = 0
    for i, row in df.iterrows():
        values_sum += row['Values']
        if i == 2:
            break
    print(f"the sum of the first three values, which is: {values_sum}")
df = pd.DataFrame({
    'Values': [10, 20, 30, 40, 50]
})

sum_first_three_values(df)

the sum of the first three values, which is: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [1]:
import pandas as pd
df = pd.DataFrame({'Text' : ['My name is manisha' , 
                  ' I am learning data science',
                  'I am from Bihar']})
df['word_count'] = df['Text'].apply(lambda x : len(x.split()))
print(df)

                          Text  word_count
0           My name is manisha           4
1   I am learning data science           5
2              I am from Bihar           4

Q5.How are DataFrame.size() and DataFrame.shape() different?

Dataframe.size() returns the number of elements in the dataframe, which is equal to the number of rows times the number of columns.
Dataframe.shape() returns a tuple of (rows, columns) that represents the dimensions of the dataframe.

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
pd.read_excel() method to read an excel file in Pandas.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [19]:
import pandas as pd
df=pd.DataFrame({
                 'email': ['manisha@gmail.com', 'shivani@gmail', 'priya@gmail.com']
                })
def extract_username(df):
                df['Username'] = df['email'].apply(lambda x: x.split('@')[0])
                return df
df =  extract_username(df)
print(df)

               email Username
0  manisha@gmail.com  manisha
1      shivani@gmail  shivani
2    priya@gmail.com    priya

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [31]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 6) & (df['B'] < 10)]
    
    return selected_rows
df = pd.DataFrame({
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
})

selected_rows = select_rows(df)
print(selected_rows)

   A  B  C
1  8  2  7
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [43]:
import pandas as pd

df = pd.DataFrame({'numbers': [5, 10, 15, 20, 25]})

median = df['numbers'].median()
mean = df['numbers'].mean()
std = df['numbers'].std()
print("The median is:", median)
print("The mean is:", mean)
print("The standard deviation is:", std)

The median is: 15.0
The mean is: 15.0
The standard deviation is: 7.905694150420948

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [53]:
import pandas as pd

df = pd.DataFrame({'Dates': ['2023-01-01', '2023-01-02', '2023-01-03' , '2023-01-04', '2023-01-05']})
df['Dates'] = pd.to_datetime(df['Dates'])

df['weekday'] = df['Dates'].dt.day_name()
print(df)

       Dates    weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [59]:
import pandas as pd
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-31']   
})
df['Timestamp'] = pd.to_datetime(df['Date'])
print(df)

         Date  Timestamp
0  2023-01-01 2023-01-01
1  2023-01-31 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [ ]:
To use the basic functions of Pandas, you need to import the Pandas library that needs to be imported.
import pandas as pd