Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
import pandas as pd 
list = [4, 8, 15, 16, 23,42]
ser = pd.Series(list)
print(ser)

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [ ]:
import pandas as pd
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(list)
print(series)

Q3. Create a Pandas DataFrame that contains the following data:
Name       Age      Gender
Alice      25       Female
Bob        30       Male
Claire     27       Female
Then, print the DataFrame.

In [ ]:
import pandas as pd 
data = {
    "Name" : ["Alice", "Bob", "Charlie"],
    "Age" : [25, 30, 27],
    "Gender" : ["Female", "Male", "Female"]
}
df = pd.DataFrame(data)
print(df)

Q4.What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. It is essentially a table or spreadsheet with rows and columns, where each column can be thought of as a pandas Series. A DataFrame can be created from various data sources such as a CSV file, a SQL query, or from a dictionary of Series objects.

In [ ]:
import pandas as pd
data = {'name': pd.Series(['Alice', 'Bob', 'Charlie']),
        'age': pd.Series([25, 30, 35]),
        'country': pd.Series(['USA', 'Canada', 'Australia'])}
df = pd.DataFrame(data)
print(df)

A Series is a one-dimensional labeled array that can hold any data type such as integers, floats, strings, or even Python objects. It is similar to a column in a DataFrame. You can think of a DataFrame as a collection of Series objects.

In [ ]:
import pandas as pd
s = pd.Series([1, 3, 5, 7, 9])
print(s)

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

head() and tail(): These functions are used to view the first or last n rows of a DataFrame, where n is an integer argument passed to the function.

In [ ]:
import pandas as pd
df = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie', 'David'],
                   'age': [25, 30, 35, 40],
                   'country': ['USA', 'Canada', 'Australia', 'USA']})
print(df.head(2))
print(df.tail(2))

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series and DataFrame are mutable in nature.

Q7. Create a DataFrame using multiple Series. Explain with an example.

we can use the pd.DataFrame() function and pass a dictionary of Series as the data argument. Each Series becomes a column in the resulting DataFrame

In [ ]:
import pandas as pd
names = pd.Series(['Manisha', 'Neha', 'Moni', 'Divya'])
ages = pd.Series([19, 18, 20, 21])
states = pd.Series(['Bihar', 'Jaipur', 'Delhi', 'Agra'])
data = {'Name': names, 'Age': ages, 'states': states}
df = pd.DataFrame(data)
print(df)