Q1.
Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [ ]:
a =  [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
a.sort(key= lambda x: x[1])
print(a)

Q2.
Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1,2,3,4,5, 6,7, 8, 9, 10]

In [ ]:
n = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sq_n = list(map(lambda x : x ** 2, n))
print(sq_n)

Q3.
Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1,2,3,4,5,6,7,8,9,10]
Expected output: ('1','2','3','4','5','6','7','8','9','10)

In [ ]:
m =  [1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x : str(x), m))

 Q4.
Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [ ]:
from functools import reduce 
l=[]
for i in range(1,26):
    l.append(i)
    i +=1
reduce(lambda x ,y : x*y,l)

Q5.
Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2,3,6, 9, 27, 60, 90, 120, 55, 46]

In [ ]:
 l = [2,3,6,9,90,120,55,46]
list(filter(lambda x : x%2==0  or x%3==0,l))

Q6.
Write a python program to find palindromes in the given list of strings using lambda and filiter
function.
['python', 'php', 'aba', 'radar', 'level']

In [ ]:
t = ['python', 'php', 'aba', 'radar', 'level']
r = list(filter(lambda x : x==x[::-1],l))
print(r)